.username {
    font-size: 30px;
    color: purple;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    font-variant: small-caps;
}

#prefecture {
   
}

#eneimg {
    position: relative;
    padding-left: 900px;
    padding-top: 20px;
    padding-bottom: 50px;
     
}

#aite {
    position: relative;
    padding-left: 600px;
    padding-bottom: 50px;
    top: 40px;
}

#watabutton {
    position: relative;
    left: 580px;
    margin-top: 75px;
    font-size: 20px;
    color: floralwhite;
    background-color: black;
}